:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.desserts-list {
  background-color: palevioletred;
  height: 100%;
  position: relative;
  padding-top: 30px;
}

h1 {
  position: absolute;
  top: 2px;
  left: 2px;
}

.cart {
  background-color: rgb(136, 112, 216);
  height: 100%;
}
