:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.desserts-list {
  /* background-color: palevioletred; */
  height: fit-content;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 10px;
}

h1 {
  position: absolute;
  top: 2px;
  left: 2px;
}

.cart {
  /* background-color: rgb(136, 112, 216); */
  padding: 15px;
  height: fit-content;
  border: 0.5px solid rgb(167, 167, 167);
  border-radius: 10px;
}

.desert-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dessert-pic-cont {
  position: relative;
}

.dessert-pic {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.cart-button-empty {
  border: 1px solid black;
  background-color: wheat;
  width: 150px;
  border-radius: 555555px;
  text-align: center;
  bottom: 5px;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, 50%);
  cursor: pointer;
}

.cart-button-full {
  border: 1px solid black;
  background-color: orange;
  width: 150px;
  border-radius: 555555px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  bottom: 5px;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, 50%);
}

.btn {
  width: 18px;
  height: 18px;
  border-radius: 333px;
  border: 0.5px solid black;
  background: none;
  cursor: pointer;
}

.info-cont {
  line-height: 20px;
}

.display-empty-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.cart-item {
  border: 0.5px solid black;
  width: 100%;
  padding-left: 5px;
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;

  width: 22px;
  height: 22px;
  border-radius: 333px;
  border: 0.5px solid black;
  background: none;
  cursor: pointer;
}

.cart-list {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cart-item {
  border-radius: 5px;
}

.cart-item-info {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
